<div class="main">
  <div class="titulo">
    <app-tituloid texto="{{ title }}"></app-tituloid>
  </div>

  <app-title [tipo]="1" texto="Adriano Rogerio de Sousa"></app-title>

  <section class="endereco">
    <div class="loc">
      <i class="bi bi-compass"></i>
      <p>
        rua benjamin constant, 1373, cetor central, anapolis-go, cep: 75.024-020
      </p>
    </div>
    <div class="loc">
      <i class="bi bi-phone-fill"></i>
      <p>62 99407 8987</p>
    </div>
    <div class="loc">
      <i class="bi bi-envelope-fill"></i>
      <span>adrianorogeriodesouza4353@gmail.com</span>
    </div>
    <div class="redes">
      <a
        href="https://www.linkedin.com/in/adriano-rogerio-de-souza-95138a214"
        target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/GITGARDS" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
      <a href="https://www.facebook.com/adriano.rogerio.315/" target="_blank"
        ><i class="bi bi-facebook"></i
      ></a>
    </div>
  </section>
</div>
