p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
}
.title {
  font-size: 60px;
}

.subtitulo {
  font-size: 40px;
}
