<div class="main container-fluid">
  <section class="header">
    <app-header></app-header>
  </section>
  <section id="inicio">
    <app-inicio></app-inicio>
  </section>
  <section id="sobre">
    <app-sobre></app-sobre>
  </section>
  <section id="perfil">
    <app-perfil></app-perfil>
  </section>
  <section id="skills">
    <app-skills></app-skills>
  </section>
  <section id="educacao">
    <app-educacao></app-educacao>
  </section>
  <section id="portifolio">
    <app-portifolio></app-portifolio>
  </section>
  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>
